.loader-text-spin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 0 15px;

  &-circle {
    width: 23px;
    height: 23px;
    display: block;
    background: transparent;
    border: 5px solid $color-shark;
    border-radius: 100%;
    animation: clockspin 0.5s infinite;
    position: relative;

    @include media('<md') {
      width: 19px;
      height: 19px;
    }

    &::after, 
    &::before {
      content: '';
      width: 4px;
      display: block;
      transform: rotate(50deg);
      height: 19px;
      background: $color-mojo;
    }

    &::before {
      position: absolute;
      bottom: 0;
      right: 0;

      @include media('<md') {
        bottom: -1px;
        right: -3px;
      }
    }

    &:after {
      @include media('<md') {
        position: absolute;
        top: -2.9px;
      }
    }
  }

  &-moving {
    color: $color-shark;
    font-weight: 700;
    margin: 0 0 0 5px;

    @include media('<md') {
      font-size: 12px;
    }
  }
}
