// Define font-face or font import here
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Heebo:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font-heebo: 'Heebo', sans-serif;
$font-bad-script: 'Bad Script', cursive;
$font-press-start: 'Press Start 2P', cursive;
