$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

body {
  background: $color-shark;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;

  @include media('<lg') {
    flex-direction: column;
  }
}

.page-scroll {
  overflow-y: auto;
}

.page-main {
  width: 100%;
}
